<div class="card" style="width: 18rem;">
  <img src="/img/{{producto}}.png" class="card-img-top" alt="{{producto}}">
  <div class="card-body text-center ">
    <h3 class="card-title">{{producto}}</h3>
    <a href="#" type="button" class="btn btn-outline-success producto" id="{{producto}}">Agregar al carrito</a>
  </div>
</div>